:root {
	--bg: hsl(0, 0%, 5%);
	--bg-2: hsl(0, 0%, 12%);
	--fg-3: hsl(50, 0%, 30%);
	--fg-2: hsl(50, 0%, 50%);
	--fg: hsl(50, 0%, 80%);
	font-family: 'Dm Sans', sans-serif;
	font-weight: 400;
}

body {
	background: var(--bg);
	color: var(--fg);
}
