:root {
	--bg: hsl(0, 0%, 5%);
	--bg-2: hsl(0, 0%, 10%);
	--fg-2: hsl(50, 5%, 50%);
	--fg: hsl(50, 25%, 80%);
	font-family: 'Space Grotesk', sans-serif;
}

body {
	background: var(--bg);
	color: var(--fg);
}
